.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  &.show {
    display: block;
  }
}

.modal {
  display: none;
  background: #fff;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 450px;

  &.show {
    display: flex;
    flex-direction: column;
  }
  .redHeader {
    background-color: rgb(253, 84, 84);
  }
  .greenHeader {
    background-color: rgb(84, 253, 107);
  }
  .close {
    position: absolute;
    right: 5px;
    top: -5px;
    color: #000;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  header {
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    font-weight: bold;
    padding: 0 30px;
  }

  .content,
  .modal-scores-content {
    min-height: 30px;
    padding: 5px 30px;
    .modal-scores-content-round,
    .modal-scores-content-result,
    .modal-scores-content-score {
      font-size: 20px;
      margin: 10px auto;
    }
    /* Table in modal */
    table {
      border: 1px solid #1c6ea4;
      background-color: #eeeeee;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      margin: 20px 0;
      td,
      th {
        border: 1px solid #aaaaaa;
        padding: 3px 2px;
        text-transform: uppercase;
      }
    }
  }
  
}
#modal-input-form {
  header {
    background-color: darkseagreen;
  }
  button {
      background-color: darkseagreen;
      width: 100px;
      height: 30px;
      border: 1px solid black;
      margin: 5px 0;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: rgb(178, 228, 178);
      }
  }
} 
