@import "modal";
* {
  font-family: "Lato";
  text-align: center;
}
.output {
  height: 20px;
  width: 100%;
  font-size: 20px;
  margin: 20px 0;
}

.buttons {
  padding: 0 auto;
  margin: 30px 30px;
}
.btn,
.btnNew {
  border: 0;
  background: #b1e09c;
  width: 100px;
  height: 100px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 30%;
  margin: 0 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}

.outputResult {
  height: 20px;
  width: 100%;
  font-size: 40px;
  margin: 50px 0;
  line-height: 20px;
  font-weight: 900;
}
.red {
  color: red;
}
.green {
  color: green;
}